.header {
  position: fixed;
  top: 0;
  z-index: 100;
  /* background: var(--body-background) 25%; */
  padding: 6px 20px;
  width: -webkit-fill-available;
  /* justify-content: space-between; */
}
.navsize {
  position: relative;
  height: 70px;
}
.header-border {
  border-bottom: 1px solid var(--primary-color);
}

.header-content {
  /* margin-inline: clamp(0, 4vw, 40px); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: var(--max-card-width); */
  width: -webkit-fill-available;
}
.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--body-background);
  /* opacity: 0.4; */
  z-index: -20;
}

.browser-form {
  display: flex;
  height: 70%;
  position: absolute;
  left: 0;
  /* z-index: -1; */
  width: 100%;
  pointer-events: none;
}

.sub-input {
  position: relative;
  margin-inline: auto;

  /* margin-left: 8px; */
}

.mobile-form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.mobile-sub-input {
  position: relative;
  height: 80%;
  width: 98%;
  /* font-size: 10px; */
}

.search {
  /* height: 35px;
  width: 35px; */
  display: flex;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.browser-form input {
  width: 600px;
  height: 100%;
  padding: 5px 10px;
  padding-left: 50px;
  border-radius: var(--img-border-radius);
  font-size: 20px;
  outline: none;
  border: none;
  /* border-bottom: 1px solid var(--primary-color); */
  background: var(--card-background);
  box-sizing: border-box;
  margin-right: 240px;
  pointer-events: all;
}

.mobile-form input {
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  padding-left: 40px;
  border-radius: var(--img-border-radius);
  font-size: 16px;
  outline: none;
  border: none;
  /* border-bottom: 1px solid var(--primary-color); */
  background: var(--card-background);
  box-sizing: border-box;
  /* margin-right: 240px; */
}

.settings {
  position: fixed;
  width: 85%;
  background: var(--card-background);
  border-radius: var(--card-border-radius);
  height: 80%;
  z-index: 10;
  left: 50%;
  top: 50%;
  padding: 16px 22px;
  transform: translate(-50%, -50%);
  /* box-shadow: black 0px 0px 10px 10px; */
  /* overflow-y: scroll; */
  max-width: var(--max-card-width);
  opacity: 0;
  transition: all 200ms;
  top: 52%;
}

.show-settings {
  opacity: 1;
  top: 50%;
}

.settings-icon svg {
  transition: transform 100ms;
}

.settings-icon:active svg {
  transform: rotate(45deg);
}

.settings-backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.605);
  inset: 0;
  z-index: 9;
  opacity: 0;
  transition: 200ms;
  /* animation: backdrop-fade 200ms forwards; */
}

.show-backdrop {
  opacity: 1;
}

.sidebar-holder {
  position: fixed;
  height: 100vh;
  background-color: var(--card-background);
  left: 0;
  width: 240px;
  z-index: 8;
  box-shadow: var(--body-background) 0 0 10px;
  padding: 10px;
  transition: left 80ms;
  overflow-y: scroll;
}

.sidebar-show {
  left: 0;
}

.sidebar-hide {
  left: -260px;
}

.menu-btn:hover {
  transform: scaleY(1.1);
}

.menu-btn:active {
  transform: skewX(10deg) scaleY(1.1);
}

@keyframes backdrop-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

form input:focus {
  border: 1px solid var(--primary-color);
}
@media only screen and (max-width: 600px) {
  .header {
    padding: 0 10px;
  }
  .navsize {
    height: 40px;
  }
}
